.search-container {
    background-color: #FFF;
    position: relative;
    border-radius: 30px;
    padding: 3px 50px 3px 10px;
}
.search-box {
    background-color: transparent;
    outline: none;
    height: 35px;
    font-size: 20px;
    border: 0;
    width: 100%;
}
