.search-container {
    background-color: #FFF;
    position: relative;
    border-radius: 30px;
    padding: 3px 50px 3px 10px;
}
.search-box {
    background-color: transparent;
    outline: none;
    height: 35px;
    font-size: 15px;
    border: 0;
    width: 100%;
}
/* .search-button {
    position: absolute;
    right: 4px;
    top: 4px;
    background-color: #C00;
    border-radius: 50%;
    border: 0;
    color: #FFF;
    width: 35px;
    height: 35px;
    outline: 0;
} */