#main-logo{
    height: 47px;
    margin-top: 28px;
    margin-left: 137px;
}
.nav-item{
    margin-top: 49px;
    margin-left: 30px;
}
.navigation-item{
    margin-right: 60px;
}
.login-btn{
    padding: 10px 40px;
}