/* .logo-container{
    margin-bottom: 10px;
} */
.logo-img{
    height: 47px;
    width: 150px;
    margin-top: 34px;
    margin-left: 30px;
}
.icon-style{
    margin-left: 30px;
    color: #928e8e !important;
}
.dashboard{
    margin-left: 10px;
    color: #928e8e !important;
}
.menu-item{
    margin-bottom: 20px;
    
}
.sidebar-content{
    background-color: blueviolet;
    top: 0; 
    bottom: -10000mm;
    overflow: visible;
    border-right: 5px double #928e8e;
}