.service-img{
    width: 74px;
    height: 74px;
    border-radius: 50%;
}
.service-margin{
    border-radius: 10px;
    margin-top: 50px;
    padding-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.service-margin:hover{
    box-shadow: 0 0 15px;
    cursor: pointer;
}